body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-top: 30px;
    color: #1e90ff;
}

p {
    margin: 5px 0;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}